:root {
    --head-font-color: #dddab2;
    --font-color: #9d9481;
    --background-color: #181a1b;
}
* {
    margin: 0%;
    ::selection {
        background-color: rgba(37, 37, 37, 0.671);
        color: white;
    }
}

body,
html {
    overflow-x: hidden;
    height: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
}

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        color: var(--head-font-color);
        font-size: 5em;
        padding: 50px;
        text-align: center;
        transform: scale(100%);
        animation: scale_up 1s ease-in-out;
    }
    @keyframes scale_up {
        from {
            transform: scale(50%);
        }
        75% {
            transform: scale(100%);
        }
        90% {
            transform: scale(90%);
        }
        to {
            transform: scale(100%);
        }
    }
}

.coaches {
    height: 30vh;
    h1 {
        color: var(--head-font-color);
        font-size: 50px;
        margin: 50px;
    }

    .coaches__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .coaches__coach {
            display: flex;
            align-items: center;
            margin: 50px 100px;
            p {
                font-size: 20px;
                padding: 10px;
            }
            img {
                border-radius: 100%;
                width: 100px;
                height: 100px;
                padding: 10px;
            }
        }
    }
}
