:root {
    --head-font-color: #dddab2;
    --font-color: #9d9481;
    --background-color: #181a1b;
}
* {
    margin: 0%;
    ::selection {
        background-color: rgba(37, 37, 37, 0.671);
        color: white;
    }
}

body,
html {
    overflow-x: hidden;
    height: 100%;
    color: var(--font-color);
}

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        color: var(--head-font-color);
        font-size: 5em;
        padding: 50px;
        text-align: center;
        transform: scale(100%);
        animation: scale_up 1s ease-in-out;
    }
    @keyframes scale_up {
        from {
            transform: scale(50%);
        }
        75% {
            transform: scale(100%);
        }
        90% {
            transform: scale(90%);
        }
        to {
            transform: scale(100%);
        }
    }
}

.coaches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    * {
        background-color: var(--background-color);
    }
    h1 {
        color: var(--head-font-color);
        font-size: 50px;
        padding: 50px;
    }

    .coaches__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .coaches__coach {
            display: flex;
            align-items: center;
            margin: 50px 100px;
            p {
                font-size: 20px;
                padding: 10px;
            }
            img {
                border-radius: 100%;
                width: 100px;
                height: 100px;
                padding: 10px;
            }
        }
    }
}

.players {
    background-image: url(../imgs/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto auto;
    // margin: 50px 00px;
    padding: 50px;
    .player {
        display: flex;
        background-color: #181a1bb2;
        backdrop-filter: blur(10px);
        margin: 10px;
        &.player2 {
            grid-row: 2;
            grid-column: 2;
        }
        &.player3 {
            grid-row: 3;
            grid-column: 1;
        }
        img {
            width: 250px;
            height: 250px;
        }
        .player__content {
            padding: 10px;
            max-width: 100%;
            height: 230px;
            overflow: hidden;
            p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
