:root {
    --head-font-color: #dddab2;
    --font-color: #9d9481;
    --background-color: #181a1b;
}
* {
    margin: 0%;
    ::selection {
        background-color: rgba(37, 37, 37, 0.671);
        color: white;
    }
}

a {
    position: relative;
    text-decoration: none;
    color: var(--head-font-color);
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0%);
    transform-origin: bottom right;
    background-color: var(--font-color);
    height: 3px;
    left: 0px;
    bottom: 0px;
    transition: transform 500ms ease-in-out;
}
a:hover::after {
    transform: scaleX(100%);
    transform-origin: bottom left;
}

body,
html {
    overflow-x: hidden;
    height: 100%;
    color: var(--font-color);
}

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        color: var(--head-font-color);
        font-size: 5em;
        padding: 50px;
        text-align: center;
        transform: scale(100%);
        animation: scale_up 1s ease-in-out;
    }
    @keyframes scale_up {
        from {
            transform: scale(50%);
        }
        75% {
            transform: scale(100%);
        }
        90% {
            transform: scale(90%);
        }
        to {
            transform: scale(100%);
        }
    }
}

.coaches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    * {
        background-color: var(--background-color);
    }
    h1 {
        color: var(--head-font-color);
        font-size: 50px;
        padding: 50px;
    }

    .coaches__content {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: space-between;

        .coaches__coach {
            display: flex;
            align-items: center;
            opacity: 0%;
            margin: 10px;
            transition: all 1s ease-in;
            &.active {
                opacity: 100%;
            }
            p {
                font-size: 20px;
                padding: 10px;
            }
            img {
                border-radius: 100%;
                width: 100px;
                height: 100px;
                padding: 10px;
            }
        }
    }
}

.players {
    background-image: url(../imgs/shadow.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto auto;
    // margin: 50px 00px;
    padding: 50px;
    .player {
        display: flex;
        background-color: #181a1bb2;
        backdrop-filter: blur(10px);
        margin: 10px;
        transition: all 1s ease-in-out;
        &.right {
            transform: translateX(100%);
            &.active {
                transform: translateX(0%);
            }
        }
        &.left {
            transform: translateX(-100%);
            &.active {
                transform: translateX(0%);
            }
        }
        &.player1 {
            grid-row: 1;
            grid-column: 1;
        }
        &.player2 {
            grid-row: 2;
            grid-column: 2;
        }
        &.player3 {
            grid-row: 3;
            grid-column: 1;
        }
        img {
            width: 250px;
            height: 250px;
        }
        .player__content {
            padding: 10px;
            max-width: 100%;
            height: 230px;
            overflow: hidden;
            p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.contact {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-size: 50px;
        margin: 20px;
    }
}

/* width */
*::-webkit-scrollbar {
    width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--head-font-color);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--font-color);
}

// Heading Media Query

@media only screen and (max-width: 750px) {
    .background > h1 {
        font-size: 4em;
    }
}

@media only screen and (max-width: 715px) {
    .coaches {
        .coaches__content {
            flex-direction: column;
        }
    }
    .coaches__coach {
        margin: none;
    }
}

@media only screen and (max-width: 410px) {
    .coaches {
        h1 {
            font-size: 40px;
            padding: 40px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .players {
        .player {
            &.player1 {
                grid-column: 1 / span 2;
            }
            &.player2 {
                grid-column: 1 / span 2;
            }
            &.player3 {
                grid-column: 1 / span 2;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .players {
        padding: 10px;
        .player {
            img {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                padding: 5px;
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .players {
        .player {
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}
